.job-card__container {
    
}

.job-card__card {
    background-color: lightgrey;
    border-radius: 8px;
    height: 250px;
    overflow: hidden;
}

.job-card__card:hover {
    background-color: darksalmon;
}